<section class="shop_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center ">
            <h2 class="text-center">
                Product News
            </h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products.slice(0, 4)">
                <div class="box">
                    <a routerLink="/product/{{product._id}}">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top p-2 rounded" src="{{ product.img }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a href="" class="text-decoration-none text-black">
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                    </a>
                                    <p class="fw-bolder">{{ product.price }}</p>
                                    <!-- Product price-->
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a type="button" class="btn btn-outline-primary">View options</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="btn-box">
            <a routerLink="/shop" class="bg-primary border-none">
                Browse More
            </a>
        </div>
    </div>
</section>