<div class="card">
  <p-toast></p-toast>
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Add Product" class="p-button-success mr-2" (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

 
  <caption>
    <div class="text-center text-uppercase">
      <h5 class="m-0r">Manage Products</h5>
    </div>
  </caption>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th style="width: 5%">STT</th>
        <th style="width: 20%">Name</th>
        <th style="width: 20%">Image</th>
        <th style="width: 20%">Price</th>
        <th style="width: 20%">Creation date</th>
        <th style="width: 20%">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let product of products; index as i">
        <tr>
          <td>{{ i + 1 }}</td>
          <td style="width: 20%">{{ product.name }}</td>
          <td style="width: 20%">
            <img class="img-fluid" src="{{ product.img }}" alt="{{ product.name }}" />
          </td>
          <td style="width: 20%">{{ product.price | currency : "VND" }}</td>
          <td style="width: 20%">{{ product.createdAt }}</td>
          <td style="width: 20%; text-align: center">
            <button class="btn btn-primary" (click)="editProduct(product)">
              <i class="pi pi-pencil"></i>
            </button>
            <button class="btn btn-danger m-3"  (click)="deleteProduct(product)">
              <i class="pi pi-trash"></i>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<p-dialog [(visible)]="productDialog" [style]="{ width: '450px', 'background-color': 'red' }" header="Product Details"
  [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small>
    </div>

    <div class="formgrid grid">
      <div class="field">
        <label for="price">Price</label>
        <input type="number" min="0" pInputText id="price" [(ngModel)]="product.price" required autofocus />
        <small class="p-error" *ngIf="submitted && !product.price">price is required.</small>
      </div>
      <div class="field">
        <label for="img">Image</label>
        <input type="text" pInputText id="img" [(ngModel)]="product.img" required autofocus />
        <small class="p-error" *ngIf="submitted && !product.img">image is required.</small>
      </div>
      <div class="field">
        <label for="img">Description</label>
        <input type="text" pInputText id="description" [(ngModel)]="product.description" required autofocus />
        <small class="p-error" *ngIf="submitted && !product.description">description is required.</small>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Yes" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '550px' }"></p-confirmDialog>