.field {
    margin-top: 10px;
}

.field input {
    border: 1px solid #f9e195;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    margin: 10px 0;
}

.p-button-success {
    border-radius: 5px;
}